aside {
  width: 400px;
  height: 100vh;
  overflow: auto;
  background: #222;
  color: #fff;
  top: 0;
  left: 0;
  position: fixed;

  ul {
    list-style: none;
    padding: 0;
    > li > a {
      font-size: 25px;
      font-family: $header-font;
      text-decoration: none;
      color: inherit;
      display: block;
      padding: 16px 16px;
    }
    li > ul > a {
      display: block;
      min-height: 40px;
      text-decoration: none;
      color: inherit;
      padding: 16px 42px;
      font-size: 20px;
    }
  }
  a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
