@import "vars/colors";
@import "vars/sizes";
@import "vars/fonts";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $paper;
}

main {
  position: relative;
  width: calc(100% - 400px);
  margin: 0 0 0 400px;
  padding: 150px 0 0 0;

  @media screen and (max-width: 1300px) {
    margin: 0;
    width: 100%;
  }
}

.seal_heading {
  height: 300px;
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.8));

  @media screen and (max-width: 600px) {
    width: 150px;
    height: 150px;
  }
}
.gadsden_heading {
  height: 300px;
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.8));

  @media screen and (max-width: 600px) {
    height: 150px;
  }
}

.usc {
  font-size: 60px;
  @media screen and (max-width: 600px) {
    font-size: 40px;
  }
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

mark {
  background: hotpink;
  position: relative;
  &.search {
    background: pink;
    &.active {
      background: orange !important;
    }
  }

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   top: -250px;
  //   left: 0;
  // }
}

hr[id] {
  opacity: 0;
  width: 0;
  height: 0px;
  margin: 0px;

  @media screen and (max-width: 1300px) {
    position: relative;
    top: -120px;
  }
}

@import "typography";
@import "layout";
@import "./components/aside";
@import "./components/article";
@import "./components/header";
@import "./components/toast";
@import "./components/bookmarks";
@import "./components/explanation";
